<div class="container individual text-center" *ngIf="character">
    <div class="container card stack stack_lg">
        <img class="card__image" [src]="character.image" alt="{{character.name}}" id="character-portrait" />

        <div class="card__body stack stack_lg">
            <h2 class="card__title">{{character.name}}</h2>

            <ul class="card__properties stack-h list-reset">
              <li>{{character.gender}}</li>
              <li>{{character.status}}</li>
              <li>{{character.species}}</li>
           </ul>
        </div>
    </div>
</div>
