<div class="stack">
  <div class="search">
    <label class="sr-only" for="name-search">Search by Name</label>

    <div class="search__wrapper stack-h">
      <input class="search__input" id="name-search" name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" />
      <button class="search__button" (click)="getCharacters(1)">Search</button>
    </div>
  </div>

  <table class="table table_characters" *ngIf="characterCall">
    <tbody class="table__body" *ngIf="characterCall.results">
      <tr class="table__row stack-h" *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
        <td class="table__item table__item_name">{{c.name}}</td>
        <td class="table__item">{{c.species}}</td>
        <td class="table__item">{{c.status}}</td>
        <td class="table__item">{{c.gender}}</td>
      </tr>
    </tbody>
  </table>


  <ng-container *ngIf="pages">
    <ul class="pagination">
      <li class="pagination__item" *ngFor="let p of pages">
        <a class="pagination__link link"
           [ngClass]="{'is-active': (p===currentPage)}"
           (click)="getCharacters(p)"
           >
           {{p}}
        </a>
      </li>
    </ul>
  </ng-container>
</div>
